div.ui.menu {
    background-color: #9BD6CF;
    color: black;
}
i.bars.icon {
    color: white;
}

h1 {
    text-align: center;
}

article {
    padding: 5%;
}

hr {
    margin-bottom:  2%;
}

form {
    margin-bottom: 2%;
}

#tagline {
    text-align: center;
    font-weight: normal;
}

#exchSymbol {
    display:inline-block;
    color: #9BD6CF;
    margin-top: 1em;
    text-align: center;
}

#report {
    margin-top: 5px;
}

#bio {
    font-weight: normal;
}

#newSeedDidactic {
    font-weight: normal;
    margin-top: 1em;
}

#messageButton {
    background-color: #274393;
}

a.ui.card {
    color: black;
}

/* Centered text */
.indextext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;
}

.indextext:hover {
    color: lightgrey;
}

#titleheader {
    font-size: 3em;
}

div.ui.four.stackable.cards{
    margin-bottom: 2%;
}